<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-progress/paper-progress.html">
<link rel="import" href="../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../neon-animation/animations/transform-animation.html">
<link rel="import" href="../neon-animation/neon-animation-runner-behavior.html">
<script src = "../jquery/dist/jquery.min.js"></script>
<!--
`nuco-page-item`


@demo demo/index.html
-->

<dom-module id="nuco-page-item">
  <template>
    <style>
      :host {
        display: block;
      }

      .title {
        color: var(--app-secondary-color, darkgray);
      }

      #contentWrapper {
        max-height: var(--nuco-page-item-max-height, 20000px);
        transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;
        padding: 0; 
        margin: 0;
      }

      .collapsed {
        transform: scale(1,0);
        transform-origin: 0 0;
        max-height: 0px !important;
        overflow: hidden;
      }

      paper-toolbar {
        background-color: white;
        border-bottom: solid var(--app-secondary-color, darkgray) 1px;
      }

      paper-spinner {
        margin: 0 auto 0 auto;
        display: block;
      }

      paper-icon-button {
        color: var(--app-secondary-color, darkgray);
      }

      content {
        margin: 0;
        padding: 0;
      }
      paper-spinner.multi {
        --paper-spinner-layer-1-color: gray;
        --paper-spinner-layer-2-color: green;
        --paper-spinner-layer-3-color: gray;
        --paper-spinner-layer-4-color: green;
        --paper-spinner-stroke-width: 1px;
      }

      paper-spinner {
        transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: white;
        max-height: 64px;
        padding: 4px 0 4px 0;
      }

    </style>

    <paper-toolbar>

      <paper-icon-button
      icon="{{_getLeftIcon(collapsed)}}"
      on-tap="toggleCollapse">
      </paper-icon-button>

      <div class="title">{{title}}</div>

      <a href="[[rightIconHref]]">
        <paper-icon-button
        icon="[[rightIcon]]">
        </paper-icon-button>
      </a>
    </paper-toolbar>


    <div id="contentWrapper">

      <div id="spinnerWrapper" class="collapsed">
        <paper-spinner id="spinner" class="multi collapsed" active="{{loading}}"></paper-spinner>
      </div>

      <content></content>

    </div>


  </template>

  <script>
    Polymer({

      is: 'nuco-page-item',

      attached: function() {
        this.set('collapsed', false);
      },

      properties: {
        title: {
          type: String,
        },
        rightIcon: {
          type: String,
        },
        rightIconHref: {
          type: String,
        },
        loading: {
          type: Boolean,
          observer: '_toggleSpinner'
        },
        collapsed: {
          type: Boolean,
          relectToAttribute: true,
        }
      },

      _getLeftIcon: function(collapsed) {
        return collapsed ? 'arrow-drop-down' : 'arrow-drop-up';
      },

      _expand: function() {
        this.set('collapsed', false);
        this.toggleClass('collapsed', false, this.$.contentWrapper);
        this.fire('nuco-page-item-expanded', {id: this.id});
      },

      _collapse: function() {
        this.set('collapsed', true);
        this.toggleClass('collapsed', true, this.$.contentWrapper);
        this.fire('nuco-page-item-collapsed', {id: this.id});
      },

      toggleCollapse: function(e) {
        this.collapsed ? this._expand() : this._collapse();
      },

      _toggleSpinner: function(loading) {
        console.log(loading);
        this.toggleClass('collapsed', !loading, this.$.spinnerWrapper);
        this.toggleClass('collapsed', !loading, this.$.spinner);
      },

      _rightIconPressed: function() {
        this.fire('right-icon-pressed', {id: this.id});
      }

    });
  </script>
</dom-module>
